:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.Button {
    font-size: 1.4em;
    outline: none;
    border: none;
    background-color: var(--bg-button);
    border-right: var(--border-button);
    border-bottom: var(--border-button);
}

button:active {
    background-color: #ccc;
}

.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.op {
    background-color: #fa8231;
    color: #fff;
}

.op:active {
    background-color: #fa8231cc;
}